body{
    background-color: aqua;
}
nav{
    display:flex;
    flex-direction:column;
}

nav a{
    color:red;
    text-decoration: none;
    padding:10px;
}

@media(min-width:768px){
    nav{
        flex-direction:row;
        gap:20px;
    }
}

img{
    border-radius:20px; 
}

video{
    width:50vw;
    padding:10px;
    background-color:purple; 
}

button{
    background-color:purple; 
    color:white;
    border:none;
    padding:10px;
    margin:20px;
}

button:hover{
    background-color: green;
}

table{
    border-collapse:collapse;

}

th,td{
    border:1px solid black;
    padding:10px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-top:20px;
}

.grid div{
    border:1px solid black;
    padding:20px;
    text-align:center;
}

@media(max-width:768px){
    .grid{
        grid-template-columns:repeat(2,1fr);
    }
}